@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(encabezado.css);
@import url(sidebar.css);
@import url(content.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* VARIABLES */
:root{
  --fondo: #212121;
  --fondo2: #181818;
  --letras-color: #cfcfcf;
  --bordes-color: rgba(255,255,255,0.15);
  --borde-ligero: 1px solid var(--bordes-color);
  --azul: #1c62b9;
  --tamaño-iconos: 1.2rem;
  --transparencia: #555555b0;
  --tamaño-titulo-logo: 1.5rem;
  --tamaño-parrafos:1rem;
  --separacion:8px;
  --tiempo-transicion: 0.4s;
  --letras-color-gris:#aaa;
  --borde-redondeado:15px;
}

/* ESTRUCTURA*/
.body{
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas:
  'header header'
  'sidebar main';
  height: 100vh;
}


.image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icono{
  text-decoration: none;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  min-width: 35px;
  height: 35px;
  font-size: var(--tamaño-iconos);
  transition: var(--tiempo-transicion);
  border-radius: 50%;
  color: var(--letras-color);
}
.icono:hover{
  background-color: var(--transparencia);
}

.icono--fondo{
  background-color: var(--bordes-color);
}
.icono--fondo:hover{
  box-shadow: 0px 1px 3px 2px var(--fondo2);
}

.perfil-image{
  position: relative;
  height: 35px;
  min-width: 35px;
  width: 35px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width:5px;
  height: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: transparent;
  border-radius: 5px;
}

/* MEDIA QUERIES */


@media (max-width: 1200px){
  .body{
    grid-template-columns: 70px 1fr;
    transition: 0.3s;
  }
  .sidebar{
    padding: 10px 5px;
  }
  .sidebar__item-texto,
  .sidebar__texto{
    display: none;
  }
  .sidebar-item{
    justify-content: center;
    width: 100%;
  }

  .content__chips{
  max-width: calc(100vw - 70px)
  }

}

@media (max-width: 600px){
  .video__image{
  height: 180px;
  }

  .barra-busqueda__ingresar{
    display: none;
  }

  .barra-busqueda__boton{
    border-radius: 50%;
  }
  .barra-busqueda__boton:hover{
    box-shadow: 0px 1px 3px 2px var(--fondo2);
  }
}