@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* VARIABLES */
:root{
  --fondo: #212121;
  --letras-color: #cfcfcf;
  --bordes-color: rgba(255,255,255,0.15);
  --borde-ligero: 1px solid var(--bordes-color);
  --azul: #1c62b9;
  --tamaño-iconos: 1.2rem;
  --transparencia: #555;
  --tamaño-titulo-logo: 1.5rem;
  --tamaño-parrafos:1rem;
  --separacion:6px;
  --tiempo-transicion: 0.5s;
  --letras-color-gris:#aaa;
  --borde-redondeado:15px;
}

/* ESTRUCTURA - LAYOUT*/
body{
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas:
  'header header'
  'sidebar main';
  height: 100vh;
}
img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
a{
  text-decoration: none;
  font-size: var(--tamaño-parrafos);
  color: var(--letras-color);
}
p{
  font-size: var(--tamaño-parrafos);
}

h1{
  font-size: var(--tamaño-titulo-logo);
}
hr{
  margin: 10px 0;
  border: 0.5px solid var(--bordes-color);
  border-radius: var(--borde-redondeado);
}

::-webkit-scrollbar {
  width:5px;
  height: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: transparent;
  border-radius: 5px;
}

.header{
  grid-area: header;
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: var(--fondo);
}
.logo-contenedor{
  display: flex;
  align-items: center;
  gap: var(--separacion);
}
.logo{
  display: flex;
  align-items:center;
  gap: var(--separacion);
  color: var(--letras-color);
  letter-spacing: -1px;
}
.logo-img{
  position: relative;
  height: 25px;
  width: 30px;
}

.search-container{
  display: flex;
  gap: var(--separacion);

  /* flex-grow: 1;
  max-width: 680px;
  flex-shrink: 0; */

  margin: 10px;
  flex: 0 1 680px;
}

.search-container form{
  position: relative;
  width: 100%;
  display: flex;
}

.search-container input{
  height: 35px;
  width: 100%;
  background-color: #121212;
  color: var(--letras-color);
  padding: 12px;
  outline: none;
  border: 1px solid var(--bordes-color);
  font-size: 14px;
  border-radius: var(--borde-redondeado) 0px 0px var(--borde-redondeado);
}
.search-container input:focus{
  border: 1px solid var(--azul);
}

.search-container button{
  width: 35px;
  min-width: 35px;
  height: 35px;
  background-color: var(--bordes-color);
  border: none;
  outline: none;
  border-radius: 0px var(--borde-redondeado) var(--borde-redondeado) 0px;
  color: var(--letras-color);
  cursor: pointer;
  font-size: var(--tamaño-iconos);
}

.search-container form + button{
  border-radius: 50%;
  /* background-color: transparent; */
}

.iconos{
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  min-width: 30px;
  font-size: var(--tamaño-iconos);
  transition: var(--tiempo-transicion);
  border-radius: 50%;
}
.iconos:hover{
  background-color: var(--transparencia);
}

.profile-container{
  display: flex;
  gap: 8px;
}
.perfil-img{
  position: relative;
  height: 35px;
  width: 35px;
  margin-right: 5px;
  cursor: pointer;
}

.perfil-img img{
  border-radius: 50%;
}

/* SIDEBAR */
.sidebar{
  grid-area: sidebar;
  border-right: var(--borde-ligero);
  padding: 10px 14px;
  background-color: var(--fondo);
  overflow-y:scroll;
}

.sidebar:hover::-webkit-scrollbar-thumb{
  background-color: var(--bordes-color);
}


.sidebar-items{
  display: flex;
  flex-direction: column;
}
.sidebar-item{
  display: flex;
  /* gap: var(--separacion); */
  /* gap: 15px; */
  padding: 0 20px;
  font-size: var(--tamaño-parrafos);
  border-radius: var(--borde-redondeado);
  transition: var(--tiempo-transicion);
  height: 35px;
  align-items: center;
}

.sidebar-item i{
  margin-right: 20px;
  font-size: var(--tamaño-iconos);
}

.sidebar-item:hover{
  background-color: var(--transparencia);
}

hr+h4{
  color: var(--letras-color-gris);
  display: flex;
  justify-content: center;
  margin: 5px 0;
  font-size: var(--tamaño-parrafos);
}

/* CHIPS */

.content{
  grid-area: main;
  background-color: var(--fondo);
}

.chips-wrapper{
  max-width: calc(100vw - 240px);
  display: flex;
  overflow-x: scroll;
  background-color: #181818;
  padding-left: 14px;
  border-top: 1px solid var(--bordes-color);
  border-bottom: 1px solid var(--bordes-color);
  flex-wrap: nowrap;
}

.chips-wrapper:hover::-webkit-scrollbar-thumb{
  background-color: var(--bordes-color);
}


.chips{
  margin: 12px 6px;
  background-color: #373737;
  padding: 6px 12px;
  color: var(--letras-color);
  cursor: pointer;
  border-radius: var(--borde-redondeado);
  white-space: nowrap;
  transition: var(--tiempo-transicion);
}
.chips:hover{
  background-color: #555;
}




